@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@model IEnumerable<IdentityUser>;

@{ 
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@foreach (var user in Model)
            {
                <p>User Id: @user.Id</p>
                <p>Email: @user.Email</p>
                <p>Role: @user.</p>
            }