@model IEnumerable<string>

<label>Select a Head Direction</label>
<select name="directionhead" id="directionhead" >
    @foreach (string x in Model)
    {
        <option value="@x" >@x</option>
    }
</select>



@*<a class="btn alert-primary"
       asp-controller="Burials"
       asp-action="Index"
       asp-route-directionhead="">Reset Head Direction Filter</a>
    @foreach (string x in Model)
    {
        <a class="btn alert-primary"
           asp-controller="Burials"
           asp-action="Index"
           asp-route-directionhead="@x">@x</a>
    }*@