@model FagElGamous.Models.C14

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>C14</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurialFk" class="control-label"></label>
                <select asp-for="BurialFk" class ="form-control" asp-items="ViewBag.BurialFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocation" class="control-label"></label>
                <input asp-for="BurialLocation" class="form-control" />
                <span asp-validation-for="BurialLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack" class="control-label"></label>
                <input asp-for="Rack" class="form-control" />
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NS" class="control-label"></label>
                <input asp-for="NS" class="form-control" />
                <span asp-validation-for="NS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column6" class="control-label"></label>
                <input asp-for="Column6" class="form-control" />
                <span asp-validation-for="Column6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EW" class="control-label"></label>
                <input asp-for="EW" class="form-control" />
                <span asp-validation-for="EW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column8" class="control-label"></label>
                <input asp-for="Column8" class="form-control" />
                <span asp-validation-for="Column8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label"></label>
                <input asp-for="Square" class="form-control" />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burial" class="control-label"></label>
                <input asp-for="Burial" class="form-control" />
                <span asp-validation-for="Burial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack1" class="control-label"></label>
                <input asp-for="Rack1" class="form-control" />
                <span asp-validation-for="Rack1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tube" class="control-label"></label>
                <input asp-for="Tube" class="form-control" />
                <span asp-validation-for="Tube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeMl" class="control-label"></label>
                <input asp-for="SizeMl" class="form-control" />
                <span asp-validation-for="SizeMl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foci" class="control-label"></label>
                <input asp-for="Foci" class="form-control" />
                <span asp-validation-for="Foci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C14Sample2017" class="control-label"></label>
                <input asp-for="C14Sample2017" class="form-control" />
                <span asp-validation-for="C14Sample2017" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionS" class="control-label"></label>
                <input asp-for="QuestionS" class="form-control" />
                <span asp-validation-for="QuestionS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column20" class="control-label"></label>
                <input asp-for="Column20" class="form-control" />
                <span asp-validation-for="Column20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conventional14cAgeBp" class="control-label"></label>
                <input asp-for="Conventional14cAgeBp" class="form-control" />
                <span asp-validation-for="Conventional14cAgeBp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column14cCalendarDate" class="control-label"></label>
                <input asp-for="Column14cCalendarDate" class="form-control" />
                <span asp-validation-for="Column14cCalendarDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateMax" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateMax" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateMin" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateMin" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateSpan" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateSpan" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateSpan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calibrated95CalendarDateAvg" class="control-label"></label>
                <input asp-for="Calibrated95CalendarDateAvg" class="form-control" />
                <span asp-validation-for="Calibrated95CalendarDateAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
