@model IEnumerable<Sample> 

@*//What am I receiving in from this view? The records of associated samples.*@

@foreach (var x in Model)
{
     
    @if (x == null)
    {
        <p>There are no records to display.</p>
    }
    else
    {
        <p>@x</p>
        //<a asp-action="DisplaySamples" asp-controller="Burials" asp-route-burialid="@x.BurialFk">@x.BurialFk</a>
    }
    
}