@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@model IEnumerable<IdentityRole>;

@{
    ViewBag.Title = "All Roles";
}

@if (Model.Any())
{

    foreach (var role in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
                <div class="card-footer">
                    <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-danger">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        <br />
    }

}
