@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@model IEnumerable<IdentityUser>;

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <table id="applicant-info-table">
        <tr>
            <th>User ID:</th>
            <th>Email:</th>
            </tr>
            @foreach (var user in Model)
            {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
                <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" type="button" class="btn">Edit</a>

                <button type="button" class="btn">Delete</button>

            </td>
        </tr>
            }
      </table>
            

            }
            else
            {
            <div class="card">
                <div class="card-header">
                    No users created yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a user
                    </h5>
                    <a class="btn" style="width:auto"
                       asp-controller="Account" asp-action="Register">
                        Add new user
                    </a>
                </div>
            </div>
            }
