@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="344577813726-aqmq124ap3anvuh5kqolk22u6elc8lsq.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>