@{
    ViewData["Title"] = "Manage User Info";
}
@*@model FagElGamous.Models.ViewModels.UserViewModel*@

<!--I'll add the correct info once we get that from the data-->
<!--Filter Researcher, Admin, or User-->

<table id="applicant-info-table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action: Edit or Delete User Account</th>
    </tr>
    @*@foreach (var b in Model.)*@
    {
<tr>
    <td>First Name, Last Name</td>
    <td>Email</td>
    <td>
    <td><button type="submit" onclick="">Edit</button></td>
    <td><button class="btn inverse" type="submit">Delete </button>
    <div class="modal">
        <div class="modal-box">
            <span class="close-button">close</span>
            <h1>Are you sure you want to delete this account?</h1>
        </div>
    </div>
    </td>
</tr>
    }
</table>

<script>
    let modal = document.querySelector(".modal");
    let show = document.querySelector(".show");
    let closeButton = document.querySelector(".close-button");
    function toggleModal() {
        modal.classList.toggle("show-modal");
    }
    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }
    show.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>