@{
    ViewData["Title"] = "Manage User Info";
}
@*@model FagElGamous.Models.ViewModels.UserViewModel*@

<!--I'll add the correct info once we get that from the data-->
<!--Filter Researcher, Admin, or User-->

<table id="applicant-info-table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action: Edit or Delete User Account</th>
    </tr>
    @*@foreach (var b in Model.)*@
    {
<tr>
    <td>First Name, Last Name</td>
    <td>Email</td>
    <td>
    <td><button type="submit" onclick="">Edit</button></td>
    <td><button type="submit" onclick="">Delete</button></td>
</tr>
    }
</table>