@{
    ViewData["Title"] = "Mummy Info";
}
@model UserViewModel
<!--I'll add the correct info once we get that from the data-->

<table id="applicant-info-table">
    <tr>
        <th>Name</th>
        <th>Email</th>

        <th>Action: Edit or Delete User Account</th>
    </tr>
    @foreach (var b in Model.Books)
    {
<tr>
    <td></td>
    <td></td>
    <td>
    <td><button type="submit" onclick="">Additional Field Notes</button></td>
    <td><button type="submit" onclick="">Edit</button></td>
</tr>
    }
</table>