@{
    ViewData["Title"] = "Record Info";
}
@model UserViewModel


@foreach (var b in Model.Books)
{   // Pull the html from the BookSummary shared view where the variable b is our "Model"
    <partial name="BookSummary" model="b" />
    <br />
}

<!--I'll add the correct info once we get that from the data-->

<table id="applicant-info-table">
    <tr>
        <th>Job Title</th>
        <th>Wage</th>
        <th>Salary</th>
        <th>Applicants</th>
        <th>Delete Listing</th>
    </tr>


    <tr>
        <td><a href=/update-listing-view/2/1234>Strategy Consultant?</a></td>
        <td>None</td>
        <td>109553.0</td>
        <td><a href=/applications/2/1234 />See Applicants</a></td>
        <td><button type="submit" onclick="location.href='/delete/2/1234/'">Delete</button></td>
    </tr>