@model FagElGamous.Models.Burial

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Views/Shared/_SecretLayout.cshtml";
}


<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Explore different biological samples we have in our lab</p>
            <p class="heading underline font-x2">Biological Samples</p>
            <br />
        </div>

        <ul id="latest" class="nospace group">
                <li class="">
                    <article>
                        <div class="excerpt">
                            <h6 class="heading  font-x2">Are you sure you want to delete burial @Model.BurialLocation </h6>
                            <footer>
                                <form asp-action="Delete">
                                <input type="hidden" asp-for="BurialId" />
                                <input type="submit" value="Delete" class="btn" style="background-color=black" />
                                    <br />
                                <a class="btn" asp-action="Index">Back to List</a>
                                </form>
                            </footer>
                        </div>
                    </article>
                </li>
        </ul>
        <br /><br /><br /><br />
    </section>
</div>





