@model FagElGamous.Models.Burial


@{
    ViewData["Title"] = "Create";
    Layout = null;
    //Layout = "~/Views/Shared/_SecretLayout.cshtml";
}



<!DOCTYPE html>
<!--
Template Name: Sislaf
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Archaeology</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/animate-custom.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/demo.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-color: #003973;">
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <div class="fl_left">
                    <ul class="nospace">
                        <li><i class="fas fa-phone rgtspace-5"></i> (801) 422-3058</li>
                        <li><i class="far fa-envelope rgtspace-5"></i> archeology@byu.edu</li>
                    </ul>
                </div>

                <div class="fl_right">
                    <partial name="_LoginPartial" />
                    @*<ul class="nospace">
                            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a></li>
                            <li><a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
                            <li><a asp-controller="Home" asp-action="Login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
                            <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
                            <li id="searchform">
                                <div>
                                    <form action="#" method="post">
                                        <fieldset>
                                            <legend>Quick Search:</legend>
                                            <input type="text" placeholder="Enter search term&hellip;">
                                            <button type="submit"><i class="fas fa-search"></i></button>
                                        </fieldset>
                                    </form>
                                </div>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <div id="logo" class="fl_left">
                    <h1><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a asp-area="" asp-controller="Burials" asp-action="Index">Mummy Archive</a></li>
                        <li><a asp-area="" asp-controller="Samples" asp-action="Index">Sample</a></li>
                        <li><a asp-area="" asp-controller="C14" asp-action="Index">C14</a></li>
                        <li><a asp-area="" asp-controller="Cranials" asp-action="Index">Cranial</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="AllSites">View Burial Sites</a></li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "admin")).Succeeded)
                        {
                            <li><a asp-area="" asp-controller="Administration" asp-action="ListUsers">Manage Users</a></li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "both")).Succeeded)
                        {
                            <li><a asp-area="" asp-controller="Burials" asp-action="Create">On Site Data Entry</a></li>
                        }


                    </ul>
                </nav>
            </header>
        </div>


        <div class="wrapper row3">
            <section class="hoc container clear">
                <div class="sectiontitle">
                    <p class="heading underline font-x2">Edit Record: @Model.BurialLocation</p>
                    <br />
                </div>
                <form asp-action="Edit">
                    <button type="button" class="collapsible">Edit Location Data</button>
                    <div class="content">
                        <label asp-for="BurialLocationNs" class="control-label"></label>
                        <input asp-for="BurialLocationNs" class="form-control" />
                        <br />
                        <label asp-for="BurialLocationEw" class="control-label"></label>
                        <input asp-for="BurialLocationEw" class="form-control" />
                        <br />
                        <label asp-for="LowPairNs" class="control-label"></label>
                        <input asp-for="LowPairNs" class="form-control" />
                        <br />
                        <label asp-for="HighPairNs" class="control-label"></label>
                        <input asp-for="HighPairNs" class="form-control" />
                        <br />
                        <label asp-for="LowPairEw" class="control-label"></label>
                        <input asp-for="LowPairEw" class="form-control" />
                        <br />
                        <label asp-for="HighPairEw" class="control-label"></label>
                        <input asp-for="HighPairEw" class="form-control" />
                        <br />
                        <label asp-for="BurialSubplot" class="control-label"></label>
                        <input asp-for="BurialSubplot" class="form-control" />
                        <br />
                        <label asp-for="BurialDepth" class="control-label"></label>
                        <input asp-for="BurialDepth" class="form-control" />
                        <br />
                        <label asp-for="SouthToHead" class="control-label"></label>
                        <input asp-for="SouthToHead" class="form-control" />
                        <br />
                        <label asp-for="SouthToFeet" class="control-label"></label>
                        <input asp-for="SouthToFeet" class="form-control" />
                        <br />
                        <label asp-for="WestToHead" class="control-label"></label>
                        <input asp-for="WestToHead" class="form-control" />
                        <br />
                        <label asp-for="WestToFeet" class="control-label"></label>
                        <input asp-for="WestToFeet" class="form-control" />
                        <br />
                        <label asp-for="BurialSituation" class="control-label"></label>
                        <input asp-for="BurialSituation" class="form-control" />
                        <br />
                    </div>
                    <button type="button" class="collapsible">Edit Mummy Characteristics</button>
                    <div class="content">
                        <label asp-for="LengthOfRemains" class="control-label"></label>
                        <input asp-for="LengthOfRemains" class="form-control" />
                        <br />
                        <label asp-for="BurialNumber" class="control-label"></label>
                        <input asp-for="BurialNumber" class="form-control" />
                        <br />
                        <label asp-for="SampleNumber" class="control-label"></label>
                        <input asp-for="SampleNumber" class="form-control" />
                        <br />
                        <label asp-for="GenderGe" class="control-label"></label>
                        <input asp-for="GenderGe" class="form-control" />
                        <br />
                        <label asp-for="GeFunctionTotal" class="control-label"></label>
                        <input asp-for="GeFunctionTotal" class="form-control" />
                        <br />
                        <label asp-for="GenderBodyCol" class="control-label"></label>
                        <input asp-for="GenderBodyCol" class="form-control" />
                        <br />
                        <label asp-for="BurialGenderMethod" class="control-label"></label>
                        <input asp-for="BurialGenderMethod" class="form-control" />
                        <br />
                        <label asp-for="ArtifactsDescription" class="control-label"></label>
                        <input asp-for="ArtifactsDescription" class="form-control" />
                        <br />
                        <label asp-for="HairColorCode" class="control-label"></label>
                        <input asp-for="HairColorCode" class="form-control" />
                        <br />
                        <label asp-for="HairColorDescription" class="control-label"></label>
                        <input asp-for="HairColorDescription" class="form-control" />
                        <br />
                        <label asp-for="PreservationIndex" class="control-label"></label>
                        <input asp-for="PreservationIndex" class="form-control" />
                        <br />
                        <label asp-for="HairTaken" class="control-label"></label>
                        <input asp-for="HairTaken" class="form-control" />
                        <br />
                        <label asp-for="SoftTissueTaken" class="control-label"></label>
                        <input asp-for="SoftTissueTaken" class="form-control" />
                        <br />
                        <label asp-for="BoneTaken" class="control-label"></label>
                        <input asp-for="BoneTaken" class="form-control" />
                        <br />
                        <label asp-for="ToothTaken" class="control-label"></label>
                        <input asp-for="ToothTaken" class="form-control" />
                        <br />
                        <label asp-for="TextileTaken" class="control-label"></label>
                        <input asp-for="TextileTaken" class="form-control" />
                        <br />
                        <label asp-for="DescriptionOfTaken" class="control-label"></label>
                        <input asp-for="DescriptionOfTaken" class="form-control" />
                        <br />
                        <label asp-for="ArtifactFound" class="control-label"></label>
                        <input asp-for="ArtifactFound" class="form-control" />
                        <br />
                        <label asp-for="EstimateAge" class="control-label"></label>
                        <input asp-for="EstimateAge" class="form-control" />
                        <br />
                        <label asp-for="AgeCode" class="control-label"></label>
                        <input asp-for="AgeCode" class="form-control" />
                        <br />
                        <label asp-for="EstimateLivingStature" class="control-label"></label>
                        <input asp-for="EstimateLivingStature" class="form-control" />
                        <br />
                        <label asp-for="ToothAttrition" class="control-label"></label>
                        <input asp-for="ToothAttrition" class="form-control" />
                        <br />
                        <label asp-for="ToothEruption" class="control-label"></label>
                        <input asp-for="ToothEruption" class="form-control" />
                        <br />
                        <label asp-for="PathologyAnomalies" class="control-label"></label>
                        <input asp-for="PathologyAnomalies" class="form-control" />
                        <br />
                        <label asp-for="EpiphysealUnion" class="control-label"></label>
                        <input asp-for="EpiphysealUnion" class="form-control" />
                        <br />
                        <label asp-for="YearFound" class="control-label"></label>
                        <input asp-for="YearFound" class="form-control" />
                        <br />
                        <label asp-for="MonthFound" class="control-label"></label>
                        <input asp-for="MonthFound" class="form-control" />
                        <br />
                        <label asp-for="DayFound" class="control-label"></label>
                        <input asp-for="DayFound" class="form-control" />
                        <br />
                        <label asp-for="HeadDirection" class="control-label"></label>
                        <input asp-for="HeadDirection" class="form-control" />
                        <br />
                        <label asp-for="YearOnSkull" class="control-label"></label>
                        <input asp-for="YearOnSkull" class="form-control" />
                        <br />
                        <label asp-for="MonthOnSkull" class="control-label"></label>
                        <input asp-for="MonthOnSkull" class="form-control" />
                        <<br />
                        <label asp-for="DateOnSkull" class="control-label"></label>
                        <input asp-for="DateOnSkull" class="form-control" />
                        <br />
                        <label asp-for="FieldBook" class="control-label"></label>
                        <input asp-for="FieldBook" class="form-control" />
                        <br />
                        <label asp-for="FieldBookPageNumber" class="control-label"></label>
                        <input asp-for="FieldBookPageNumber" class="form-control" />
                        <br />
                        <label asp-for="InitialsOfDataEntryExpert" class="control-label"></label>
                        <input asp-for="InitialsOfDataEntryExpert" class="form-control" />
                        <br />
                        <label asp-for="InitialsOfDataEntryCheker" class="control-label"></label>
                        <input asp-for="InitialsOfDataEntryCheker" class="form-control" />
                        <br />
                        <label asp-for="ByuSample" class="control-label"></label>
                        <input asp-for="ByuSample" class="form-control" />
                        <br />
                        <label asp-for="BodyAnalysis" class="control-label"></label>
                        <input asp-for="BodyAnalysis" class="form-control" />
                        <br />
                        <label asp-for="SkullAtMagazine" class="control-label"></label>
                        <input asp-for="SkullAtMagazine" class="form-control" />
                        <br />
                        <label asp-for="PostcraniaAtMagazine" class="control-label"></label>
                        <input asp-for="PostcraniaAtMagazine" class="form-control" />
                        <br />
                        <label asp-for="RackAndShelf" class="control-label"></label>
                        <input asp-for="RackAndShelf" class="form-control" />
                        <br />
                        <label asp-for="ToBeConfirmed" class="control-label"></label>
                        <input asp-for="ToBeConfirmed" class="form-control" />
                        <br />
                        <label asp-for="SkullTrama" class="control-label"></label>
                        <input asp-for="SkullTrama" class="form-control" />
                        <br />
                        <label asp-for="CribraOrbitala" class="control-label"></label>
                        <input asp-for="CribraOrbitala" class="form-control" />
                        <br />
                        <label asp-for="PoroticHyperostosis" class="control-label"></label>
                        <input asp-for="PoroticHyperostosis" class="form-control" />
                        <br />
                        <label asp-for="PoroticHyperostosisLocation" class="control-label"></label>
                        <input asp-for="PoroticHyperostosisLocation" class="form-control" />
                        <br />
                        <label asp-for="MetopicStructure" class="control-label"></label>
                        <input asp-for="MetopicStructure" class="form-control" />
                        <<br />
                        <label asp-for="ButtonOsteoma" class="control-label"></label>
                        <input asp-for="ButtonOsteoma" class="form-control" />
                        <br />
                        <label asp-for="PostcraniaTrauma" class="control-label"></label>
                        <input asp-for="PostcraniaTrauma" class="form-control" />
                        <br />
                        <label asp-for="OsteologyUnknownComment" class="control-label"></label>
                        <input asp-for="OsteologyUnknownComment" class="form-control" />
                        <br />
                        <label asp-for="TemporalMandibularJoinOsteoarthritis" class="control-label"></label>
                        <input asp-for="TemporalMandibularJoinOsteoarthritis" class="form-control" />
                        <br />
                        <label asp-for="LinearHypoplasiaEnamel" class="control-label"></label>
                        <input asp-for="LinearHypoplasiaEnamel" class="form-control" />
                        <br />
                        <label asp-for="Tomb" class="control-label"></label>
                        <input asp-for="Tomb" class="form-control" />
                        <br />
                        <label asp-for="AreaHillBurials" class="control-label"></label>
                        <input asp-for="AreaHillBurials" class="form-control" />
                        <br />
                        <label asp-for="BurialPreservation" class="control-label"></label>
                        <input asp-for="BurialPreservation" class="form-control" />
                        <br />
                        <label asp-for="BurialWrapingCode" class="control-label"></label>
                        <input asp-for="BurialWrapingCode" class="form-control" />
                        <br />
                        <label asp-for="BurialAdultChild" class="control-label"></label>
                        <input asp-for="BurialAdultChild" class="form-control" />
                        <br />
                        <label asp-for="Burialagemethod" class="control-label"></label>
                        <input asp-for="Burialagemethod" class="form-control" />
                        <br />
                        <label asp-for="BurialSampleTaken" class="control-label"></label>
                        <input asp-for="BurialSampleTaken" class="form-control" />
                        <br />
                        <label asp-for="Goods" class="control-label"></label>
                        <input asp-for="Goods" class="form-control" />
                        <br />
                        <label asp-for="Cluster" class="control-label"></label>
                        <input asp-for="Cluster" class="form-control" />
                        <br />
                        <label asp-for="FaceBundle" class="control-label"></label>
                        <input asp-for="FaceBundle" class="form-control" />
                        <br />
                        <label asp-for="OsteologyNotes" class="control-label"></label>
                        <input asp-for="OsteologyNotes" class="form-control" />


                    </div>
                    <button type="button" class="collapsible">Edit Bones Details</button>
                    <div class="content">
                        <label asp-for="BasilarSuture" class="control-label"></label>
                        <input asp-for="BasilarSuture" class="form-control" />
                        <br />
                        <label asp-for="VentralArc" class="control-label"></label>
                        <input asp-for="VentralArc" class="form-control" />
                        <br />
                        <label asp-for="SubpubicAngle" class="control-label"></label>
                        <input asp-for="SubpubicAngle" class="form-control" />
                        <br />
                        <label asp-for="SciaticNotch" class="control-label"></label>
                        <input asp-for="SciaticNotch" class="form-control" />
                        <br />
                        <label asp-for="PubicBone" class="control-label"></label>
                        <input asp-for="PubicBone" class="form-control" />
                        <br />
                        <label asp-for="PreaurSulcus" class="control-label"></label>
                        <input asp-for="PreaurSulcus" class="form-control" />
                        <br />
                        <label asp-for="MedialIpRamus" class="control-label"></label>
                        <input asp-for="MedialIpRamus" class="form-control" />
                        <br />
                        <label asp-for="DorsalPitting" class="control-label"></label>
                        <input asp-for="DorsalPitting" class="form-control" />
                        <br />
                        <label asp-for="ForemanMagnum" class="control-label"></label>
                        <input asp-for="ForemanMagnum" class="form-control" />
                        <br />
                        <label asp-for="FemurHead" class="control-label"></label>
                        <input asp-for="FemurHead" class="form-control" />
                        <br />
                        <label asp-for="HumerusHead" class="control-label"></label>
                        <input asp-for="HumerusHead" class="form-control" />
                        <br />
                        <label asp-for="Osteophytosis" class="control-label"></label>
                        <input asp-for="Osteophytosis" class="form-control" />
                        <br />
                        <label asp-for="PubicSymphysis" class="control-label"></label>
                        <input asp-for="PubicSymphysis" class="form-control" />
                        <br />
                        <label asp-for="FemurLength" class="control-label"></label>
                        <input asp-for="FemurLength" class="form-control" />
                        <br />
                        <label asp-for="HumerusLength" class="control-label"></label>
                        <input asp-for="HumerusLength" class="form-control" />
                        <br />
                        <label asp-for="TibiaLength" class="control-label"></label>
                        <input asp-for="TibiaLength" class="form-control" />
                        <br />
                        <label asp-for="Robust" class="control-label"></label>
                        <input asp-for="Robust" class="form-control" />
                        <br />
                        <label asp-for="SupraorbitalRidges" class="control-label"></label>
                        <input asp-for="SupraorbitalRidges" class="form-control" />
                        <br />
                        <label asp-for="OrbitEdge" class="control-label"></label>
                        <input asp-for="OrbitEdge" class="form-control" />
                        <br />
                        <label asp-for="ParietalBossing" class="control-label"></label>
                        <input asp-for="ParietalBossing" class="form-control" />
                        <br />
                        <label asp-for="Gonian" class="control-label"></label>
                        <input asp-for="Gonian" class="form-control" />
                        <br />
                        <label asp-for="NuchalCrest" class="control-label"></label>
                        <input asp-for="NuchalCrest" class="form-control" />
                        <br />
                        <label asp-for="ZygomaticCrest" class="control-label"></label>
                        <input asp-for="ZygomaticCrest" class="form-control" />
                        <br />
                        <label asp-for="CranialSuture" class="control-label"></label>
                        <input asp-for="CranialSuture" class="form-control" />
                        <br />
                        <label asp-for="MaximumCranialLength" class="control-label"></label>
                        <input asp-for="MaximumCranialLength" class="form-control" />
                        <br />
                        <label asp-for="MaximumCranialBreadth" class="control-label"></label>
                        <input asp-for="MaximumCranialBreadth" class="form-control" />
                        <br />
                        <label asp-for="BasionBregmaHeight" class="control-label"></label>
                        <input asp-for="BasionBregmaHeight" class="form-control" />
                        <br />
                        <label asp-for="BasionNasion" class="control-label"></label>
                        <input asp-for="BasionNasion" class="form-control" />
                        <br />
                        <label asp-for="BasionProsthionLength" class="control-label"></label>
                        <input asp-for="BasionProsthionLength" class="form-control" />
                        <br />
                        <label asp-for="BizygomaticDiameter" class="control-label"></label>
                        <input asp-for="BizygomaticDiameter" class="form-control" />
                        <br />
                        <label asp-for="NasionProsthion" class="control-label"></label>
                        <input asp-for="NasionProsthion" class="form-control" />
                        <br />
                        <label asp-for="MaximumNasalBreadth" class="control-label"></label>
                        <input asp-for="MaximumNasalBreadth" class="form-control" />
                        <br />
                        <label asp-for="InterorbitalBreadth" class="control-label"></label>
                        <input asp-for="InterorbitalBreadth" class="form-control" />
                        <br />
                    </div>
                    <button type="button" class="collapsible">Edit Feild Notes</button>
                    <div class="content">
                        <textarea placeholder="Add to Field Notes Here..."></textarea>
                    </div>
                    <button type="button" class="collapsible">Edit Other Notes</button>
                    <div class="content">
                        <textarea placeholder="Add to Other Notes Here..."></textarea>
                    </div>

                    <br />
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </section>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="bgded overlay row4" style="background-color: #003973;">
            <footer id="footer" class="hoc clear">
                <div id="ctdetails" class="clear">
                    <ul class="nospace clear">
                        <li class="one_quarter first">
                            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> (801) 422-3058</span></div>
                        </li>
                        <li class="one_quarter">
                            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us an email:</strong> archaeology@byu.edu</span></div>
                        </li>
                        <li class="one_quarter">
                            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 9.00am - 5.00pm MDT</span></div>
                        </li>
                        <li class="one_quarter">
                            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="https://www.google.com/maps/dir/40.2463985,-111.6541482/byu+archaeology+department/40.2471172,-111.654924,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x874d90ba874c549f:0x5b30a0a9081564fb!2m2!1d-111.6510826!2d40.2473775">our location</a></span></div>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">BYU Egypt Excavation Project - Fag el-Gamous Cemetery Database</a></p>
            </div>
        </div>
        <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
        <!-- JAVASCRIPTS -->
        <script src="layout/scripts/jquery.min.js"></script>
        <script src="layout/scripts/jquery.backtotop.js"></script>
        <script src="layout/scripts/jquery.mobilemenu.js"></script>


</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .collapsible {
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #FBAB45;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: white;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    label {
        float: left;
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
</style>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
