@{ ViewData["Title"] = "Fag El-Gamous";
}

<div id="pageintro" class="hoc clear" style="background-image:url('images/demo/backgrounds/hero-image-1600w.jpg')">
    <article>
        <h3 class="heading" style="color:#003973;text-shadow:-1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1.5px 0 white;">BYU Egypt Excavation Project - Fag el-Gamous Cemetery Database</h3>
        <footer>
            <ul class="nospace inline pushright">
                <li><a class="btn" style=" background-color: #FBAB45; border-color: white;" asp-controller="Burials" asp-action="Index">View Burial Sites</a></li>
                <li><a class="btn" style=" background-color:#FBAB45; border-color: white;" href="#team">Get to know the team</a></li>
            </ul>
        </footer>
    </article>
</div>
<!-- End Top Background Image Wrapper -->
<div class="bgded overlay" style="background-color:#003973;">
    <section id="splitfifty" class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Fag el-Gamous (Way of the Water Buffalo)</p>
            <p class="heading underline font-x1.5">An important cemetery in Egypt that has been under archeological investigation for over 25 years</p>
        </div>
        <div class="bgded clear">

            <article>
                <h6 class="heading font-x1.5">Skull reconstruction: biology student explores evolution through art</h6>
                <p>Combining her love for art and science, biology student Allison Michas shares her process to build the muscle and cartilage layers as she reconstructs skulls for an evolution exhibit in the BYU Life Science Building.</p>
                <footer><a class="btn" href="#">More News</a></footer>
            </article>
            <iframe width="565" height="400" src="https://www.youtube.com/embed/-sjgB3pfUn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</div>
<div class="wrapper row1.5" id="team">
    <div class="hoc container clear">
        <div class="sectiontitle">
            <p class="nospace font-xs">Meet the Team</p>
            <p class="heading underline font-x1.5">The Ones Who Make it All Happen:</p>
        </div>
        <ul class="nospace group team">
            <li class="one_quarter first">
                <figure>
                    <a class="imgover" href="https://religion.byu.edu/kerry_muhlestein"><img src="images/kmuhlestein.jpg" alt="" style="width:248.994px;height:248.994px"></a>
                    <figcaption><strong>Dr. Kerry Muhlstein</strong> <em></em></figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure>
                    <a class="imgover" href="https://lifesciences.byu.edu/directory/r-paul-evans"><img src="images/paulevans.jpg" alt=""></a>
                    <figcaption><strong>Dr. R. Paul Evans</strong> <em></em></figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure>
                    <a class="imgover" href="https://marriottschool.byu.edu/directory/details?id=71802"><img src="images/shilton.png" alt="" style="width:248.994px;height:248.994px"></a>
                    <figcaption><strong>Dr. Spencer Hilton</strong> <em></em></figcaption>
                </figure>
            </li>
            <li class="one_quarter">
                <figure>
                    <a class="imgover" href="https://marriottschool.byu.edu/directory/details?id=22394"><img src="~/images/tmeservy.png" alt="" style="width:248.994px;height:248.994px"></a>
                    <figcaption><strong>Dr. Tom Meservy</strong> <em></em></figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>