
@model Filter

@*<h3>What field would you like?</h3>

@*<input type=""

*@<form asp-action="UserFiltering" asp-controller="Home" method="post">
    <div>
        <label asp-for="FieldName"></label>
        <select asp-for="FieldName">
            <option value="">Select One</option>
            <vc:hair />
        </select>
    </div>
    <button type="submit">Filter!</button>
    <div asp-validation-summary="All"></div>
</form>


@*<div>
        <asp:DropDownList ID="Field" runat="server">
            <asp:ListItem Value="">Please Select</asp:ListItem>
            <asp:ListItem>New Delhi </asp:ListItem>
            <asp:ListItem>Greater Noida</asp:ListItem>
            <asp:ListItem>NewYork</asp:ListItem>
            <asp:ListItem>Paris</asp:ListItem>
            <asp:ListItem>London</asp:ListItem>
        </asp:DropDownList>
    </div>*@

@*<asp:Button ID="Button1" runat="server" OnClick="SelectField" Text="Submit" />*@  