@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Click <a class="btn" id="confirm-link" href="@Model.EmailConfirmationUrl">here</a> to confirm your email
    </p>
    }
    else
    {
    <p>
            Please check your email to confirm your account.
    </p>
    }
}
