@model FagElGamous.Models.Sample

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurialFk" class="control-label"></label>
                <select asp-for="BurialFk" class ="form-control" asp-items="ViewBag.BurialFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocation" class="control-label"></label>
                <input asp-for="BurialLocation" class="form-control" />
                <span asp-validation-for="BurialLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rack" class="control-label"></label>
                <input asp-for="Rack" class="form-control" />
                <span asp-validation-for="Rack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bag" class="control-label"></label>
                <input asp-for="Bag" class="form-control" />
                <span asp-validation-for="Bag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Low" class="control-label"></label>
                <input asp-for="Low" class="form-control" />
                <span asp-validation-for="Low" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="High" class="control-label"></label>
                <input asp-for="High" class="form-control" />
                <span asp-validation-for="High" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NS" class="control-label"></label>
                <input asp-for="NS" class="form-control" />
                <span asp-validation-for="NS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Low1" class="control-label"></label>
                <input asp-for="Low1" class="form-control" />
                <span asp-validation-for="Low1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="High1" class="control-label"></label>
                <input asp-for="High1" class="form-control" />
                <span asp-validation-for="High1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EW" class="control-label"></label>
                <input asp-for="EW" class="form-control" />
                <span asp-validation-for="EW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burial" class="control-label"></label>
                <input asp-for="Burial" class="form-control" />
                <span asp-validation-for="Burial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviouslySampled" class="control-label"></label>
                <input asp-for="PreviouslySampled" class="form-control" />
                <span asp-validation-for="PreviouslySampled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
